@font-face {
    font-family: spongebob-font;
    src: url(spongeboy-me-bob.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: spongebob-font, sans-serif;
    background-color:rgb(17, 138, 182);
    background-image: url(images/spongebob-clouds.jpg);
    margin: 1rem;
    text-align: center;
}

header,
.container h1 {
    padding: 1.2rem;
    color: rgb(218, 232, 61);
    text-shadow: 0.2rem 0.2rem 0px purple;
}

header {
    font-size: 2rem;
}

.home-button {
    border: 2px solid rgba(221, 235, 239, 0.6);
    border-radius: 50%;
    background-color: rgb(192, 229, 237, 0.5);
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 1%;
    padding-top: 1.8rem;
    font-size: 1.3rem;
}

.home {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 1.5rem;
    line-height: 5rem;
    background-color: beige
}

.container {
    position: relative;
    margin: 0 auto 1rem;
    width: 45em;
    border-radius: 2rem;
    border: 2px solid #333;
    background-color: rgb(192, 191, 191);
    padding: 2.5rem;
}

img {
   width: 17rem;
   height: 20rem;
   border: 2px solid #c9d1d9;
   border-radius: 50%;
   margin-bottom: 1.2rem;
}

.home-image {
    width: 25rem;
    height: auto;
    border: 2px solid transparent;
    border-radius: 2rem;
    margin: 2rem;
}

.info {
    padding: 1rem;
}

.ingredients ul,
.home-list {
    list-style-type: none;
}

.ingredients li {
    padding: 0.3rem;
}

.instructions li,
p {
    line-height: 2;
}

.home li {
    border-top: 1px solid #333;
}

.home li:first-child,
.home li:first-child a {
    border-radius: 1.8rem 1.8rem 0 0;
}

.home li a,
.home-button {
    display: block;
    text-decoration: none;
}

.home li a:hover,
.home-button:hover {
    background: rgb(218, 232, 61);
}

.home li:last-child a {
    border-radius: 0 0 2rem 2rem;
}